* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-wrap: balance;
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: small;
}

body {
  min-height: 100vh;
  background-image: url("images/walnut-wood-seamless.png");
  padding: 10px;
  display: flex;
  justify-content: center;
}

main {
  max-width: 90%;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#actions {
  width: 100%;
  display: flex;
  justify-content: center;
}

#actions > a {
  width: 100%;
}

#actions > a > button {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

#text-container {
  background-image: url("images/paper-seamless-final-corrected.png");
  padding: 10px;
}

button {
  background-image: url("images/paper-seamless-final-corrected.png");
  filter: brightness(0.5);
  color: black;
  border: none;
  font-weight: 600;
  padding: 10px;
}

button.current {
  filter: none;
  color: black;
}

#copy {
  position: relative;
  background-color: black;
  color: beige;
  padding: 6px;
  font-size: large;
  background-image: none;
  filter: none;
  border-radius: 100px;
  margin-bottom: 10px;
  width: fit-content;
  font-family: "Courier New", Courier, monospace;
  border: 4px groove grey;
  display: flex;
  justify-content: center;
}

#copy:active {
  filter: brightness(0.8);
  position: relative;
}

#handle {
  position: absolute;
  transform: translate(0, -60px);
  width: 0;
  height: 50px;
  background-color: grey;
  border: 4px groove grey;
  border-bottom: none;
  border-top: none;
}

textarea {
  border: 1px dashed black;
  background-color: transparent;
  outline: none;
  width: 100%;
  border-radius: 5px;
}
